.selector {
    padding: 0.5rem;
  font-size: 1rem;
  color: #333;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: background-color 0.3s ease;
  }

  .selector:hover {
    background-color: #e0e0e0;
  }